body {
  font-family: 'Lato', sans-serif;
}

main {
	background-image: url('http://www.comercial.americatv.com.pe/images/fondo4.jpg');
	background-size: cover;
  font-weight: bold;
  min-height: 100vh;
}

.pl {
  padding-left: 10px;
}

.pt-2 {
  padding-top: 5px;
}
