body {
  color: #fff;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 15px;
}

main {
	background-image: url('http://www.comercial.americatv.com.pe/images/fondo4.jpg');
	background-size: cover;
  font-weight: bold;
  min-height: 100vh;
  max-width: 100%;
}

.pl {
  padding-left: 10px;
}

.pt-2 {
  padding-top: 5px;
}

.fs-38 {
  font-size: 38px;
}
 
h1, h5 {
  font-family: 'Acta-ExtraBold';
}
 
.fw-900 {
  font-weight: 900;
}

.fs-18 {
  font-size: 18px;
}