  body {
    font-family: 'Lato', sans-serif;
  }


  #slide-out{
  background-color: #F5F4F4;

  }
  
  .background{
    padding-left: 20px;
    padding-top: 20px;
    background-color: #fb5404;
  }
  
  .home-background {
    background-image: url(http://www.comercial.americatv.com.pe/images/fondo2.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.8;
  }

  .titulo{
    color: #fff;
    text-align: left;
  }
  .titulo::after{
    content: "";
    width: 40px;
    height: 4px;
    background-color: #fb5404;
    display: block;
  }

  .user-view {
  border-bottom: 1px solid #fff;
  }
  
  .user-view h5{
  padding-left: 45px;
  padding-bottom: 15px; 
  color:#fff;
  }
  
  #slide-out .sidenav-datos{
  position: relative;
  }
  
  #slide-out .sidenav-datos span{
  position: absolute;
  top: 18px;
  left: 87px;
  }
  
  #slide-out a, #slide-out span , #slide-out i{
  color:#533869;
  }
  
  .collapsible{
  color: #533869;
  }
  
  .collapsible .collapsible-header{
  padding-left: 34px;
  }
  
  .collapsible .collapsible-body{
  background-color: #F5F4F4;
  padding-left: 60px;
  }
  
  .collapsible .collapsible-body a{
  color: #fb5404 !important;
  }
  
  .sidenav .user-view{
  padding: 12px 32px 0 !important;
  }
  
  .top-nav{
  height: 55px;
  background-color: #fb5404;
  }
  
  .top-nav a{
  color: #fff;
  
  }
  
  .top-nav a i{
  margin-top: 13px;
  margin-left: 10px;
  }
  
  .top-nav-modal{
    padding: 16px;
    color: #fff;
    font-size: 16px;
    height: 55px;
    background-color: #fb5404;
    font-weight: bold;
  }
  
  .display-none {
    display: none;
  }
  
  .display-block {
    display: block;
  }
  
  @media (max-width: 600px){
  .cronograma{
    font-size: 14px;
    font-weight: 500;
  }
  }
  
  @media (max-width: 900px){
  .cronograma{
    font-size: 12px;
    font-weight: 700;
  }
  
  }
  
  