<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>América TV</title>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!--Font Google-->
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- CSS Optional -->
    <link rel="stylesheet" href="../styles/home.css">
</head>

<body>
    <div class="top-nav">
        <a href="#" data-target="slide-out" class="sidenav-trigger btn-menu"><i class="material-icons">menu</i></a>
    </div>
    <section>
        <ul id="slide-out" class="sidenav">
            <li>
                <div class="user-view">
                    <div class="background">
                        <img src="http://www.comercial.americatv.com.pe/images/logo_header.png">
                    </div>
                    <h5>AMÉRICA</h5>
                </div>
            </li>
            <li class="sidenav-datos">
                <a href="#!"><i class="material-icons">store</i>LIQUID</a>
                <span>Teresa Lara</span>
            </li>
            <!-- <li><div class="divider"></div></li> -->
            <li><a class="subheader"><i class="material-icons">home</i> Panel de programación</a>
            </li>
            <li>
                <ul class="collapsible">
                    <li>
                        <div class="collapsible-header">Tus Reservas</div>
                        <div class="collapsible-body"><a href="">Nueva Reserva</a></div>
                        <div class="collapsible-body"> <a href="">Historial de Reserva</a></div>
                    </li>
                    <li>
                        <div class="collapsible-header">Tus productos</div>
                        <div class="collapsible-body"><a href="">Agregar Nuevo Producto</a></div>
                        <div class="collapsible-body"><a href="">Historial de Productos</a></div>
                    </li>
                    <li>
                        <div class="collapsible-header">Configuración</div>
                    </li>
                </ul>
            </li>
        </ul>
        </li>
        </ul>
    </section>
    <div class="container-fluid center-align section">
        <div class="row container section">
            <div class="input-field col s12 m6 offset-m3 l3 offset-l7">
                <select class="browser-default">
                    <option value="" disabled selected>Selecciona una marca</option>
                    <option value="1">Option 1</option>
                    <option value="2">Option 2</option>
                    <option value="3">Option 3</option>
                </select>
            </div>
        </div>
        <div id="schedule" class="row cronograma">
            <div class="col s12 m12 l1 lunes offset-l2">
                <div class="fecha">Lunes</div>
                <div class="quincePorciento"> América Noticias Local
                    <a data-target="modal1" class="btn-floating pulse modal-trigger"><i class="material-icons"
                            data-name="anpel" data-date="lunes">add</i></a>
                </div>
                <div class="quincePorciento">AMERICA NOTICIAS: PRIMERA EDICION
                    <a data-target="modal1" class="btn-floating pulse modal-trigger"><i class="material-icons " data-name="anpe1" data-date="lunes">add</i></a>
                </div>
                <div class="sinRecargo">AMERICA DEPORTES
                    <a class="btn-floating pulse"><i class="material-icons " data-name="ad" data-date="lunes">add</i></a>
                </div>
                <div class="sinRecargo">AMERICA NOTICIAS: PRIMERA EDICION
                    <a data-target="modal1" class="btn-floating pulse modal-trigger"><i class="material-icons " data-name="anpe2" data-date="lunes">add</i></a>
                </div>
                <div class="sinRecargo">El privilegio de amar
                    <a data-target="modal1" class="btn-floating pulse modal-trigger"><i class="material-icons " data-name="epda" data-date="lunes">add</i></a>
                </div>
                <div class="sinRecargo">TN. MARIMAR
                    <a data-target="modal1" class="btn-floating pulse modal-trigger"><i class="material-icons " data-name="m" data-date="lunes">add</i></a>
                </div>
                <div class="sinRecargo">LOS AMORES DE POLO
                    <a data-target="modal1" class="btn-floating pulse modal-trigger"><i class="material-icons " data-name="ladp" data-date="lunes">add</i></a>
                </div>
                <div class="cincoPorciento">AMERICA NOTICIAS: EDICION DEL MEDIODIA
                    <a data-target="modal1" class="btn-floating pulse modal-trigger"><i class="material-icons " data-name="anedm" data-date="lunes">add</i></a>
                </div>
                <div class="cincoPorciento">En boca de todos
                    <a data-target="modal1" class="btn-floating pulse modal-trigger"><i class="material-icons " data-name="ebdt" data-date="lunes">add</i></a>
                </div>
                <div class="cincoPorciento">Al fondo hay sitio
                    <a data-target="modal1" class="btn-floating pulse modal-trigger"><i class="material-icons " data-name="afhs" data-date="lunes">add</i></a>
                </div>
                <div class="quincePorciento">TN. Caer en tentación
                    <a data-target="modal1" class="btn-floating pulse modal-trigger"><i class="material-icons " data-name="cet" data-date="lunes">add</i></a>
                </div>
                <div class="quincePorciento">La rosa de Guadalupe
                    <a data-target="modal1" class="btn-floating pulse modal-trigger"><i class="material-icons " data-name="lrdg" data-date="lunes">add</i></a>
                </div>
                <div class="quincePorciento">Cumbia pop
                    <a data-target="modal1" class="btn-floating pulse modal-trigger"><i class="material-icons " data-name="cp" data-date="lunes">add</i></a>
                </div>
                <div class="quincePorciento">VBQ : " Empezando a vivir"
                    <a data-target="modal1" class="btn-floating pulse modal-trigger"><i class="material-icons " data-name="eav" data-date="lunes">add</i></a>
                </div>
                <div class="quincePorciento">COLORINA
                    <a data-target="modal1" class="btn-floating pulse modal-trigger"><i class="material-icons " data-name="c" data-date="lunes">add</i></a>
                </div>
                <div class="quincePorciento">AMERICA NOTICIAS: EDICION CENTRAL
                    <a data-target="modal1" class="btn-floating pulse modal-trigger"><i class="material-icons " data-name="anec" data-date="lunes">add</i></a>
                </div>
                <div class="quincePorciento">LA BANDA DEL CHINO
                    <a data-target="modal1" class="btn-floating pulse modal-trigger" data-name="lbdc" data-date="lunes"><i class="material-icons ">add</i></a>
                </div>
                <div class="quincePorciento">MUJERES DE NEGRO
                    <a data-target="modal1" class="btn-floating pulse modal-trigger"><i class="material-icons " data-name="mdn" data-date="lunes">add</i></a>
                </div>
                <div class="quincePorciento">TN. SIN TU MIRADA
                    <a data-target="modal1" class="btn-floating pulse modal-trigger"><i class="material-icons " data-name="stm" data-date="lunes">add</i></a>
                </div>
                <div class="quincePorciento">En boca de todos ( REPETICION)
                    <a data-target="modal1" class="btn-floating pulse modal-trigger"><i class="material-icons " data-name="ebdt" data-date="lunes">add</i></a>
                </div>
                <div class="quincePorciento">El privilegio de amar ( REPETICION)
                    <a data-target="modal1" class="btn-floating pulse modal-trigger"><i class="material-icons " data-name="epda" data-date="lunes">add</i></a>
                </div>
            </div>
            <div class=" col s12 m12 l1 martes">
                <div class="fecha">Martes</div>
                <div class="quincePorciento">America Noticias Local
                    <a data-target="modal1" class="btn-floating pulse modal-trigger"><i class="material-icons " data-name="anpel" data-date="martes">add</i></a>
                </div>
                <div class="quincePorciento">AMERICA NOTICIAS: PRIMERA EDICION
                    <a data-target="modal1" class="btn-floating pulse modal-trigger"><i class="material-icons " data-name="anpe1" data-date="martes">add</i></a>
                </div>
                <div class="sinRecargo">AMERICA DEPORTES
                    <a data-target="modal1" class="btn-floating pulse modal-trigger"><i class="material-icons " data-name="ad" data-date="martes">add</i></a>
                </div>
                <div class="sinRecargo">AMERICA NOTICIAS: PRIMERA EDICION
                    <a data-target="modal1" class="btn-floating pulse modal-trigger"><i class="material-icons " data-name="anpe2" data-date="martes">add</i></a>
                </div>
                <div class="sinRecargo">El privilegio de amar
                    <a data-target="modal1" class="btn-floating pulse modal-trigger"><i class="material-icons " data-name="epda" data-date="martes">add</i></a>
                </div>
                <div class="sinRecargo">TN. MARIMAR
                    <a data-target="modal1" class="btn-floating pulse modal-trigger"><i class="material-icons " data-name="m" data-date="martes">add</i></a>
                </div>
                <div class="sinRecargo">LOS AMORES DE POLO
                    <a data-target="modal1" class="btn-floating pulse modal-trigger"><i class="material-icons " data-name="ladp" data-date="martes">add</i></a>
                </div>
                <div class="cincoPorciento">AMERICA NOTICIAS: EDICION DEL MEDIODIA
                    <a data-target="modal1" class="btn-floating pulse modal-trigger"><i class="material-icons " data-name="anedm" data-date="martes">add</i></a>
                </div>
                <div class="cincoPorciento">En boca de todos
                    <a data-target="modal1" class="btn-floating pulse modal-trigger"><i class="material-icons " data-name="ebdt" data-date="martes">add</i></a>
                </div>
                <div class="cincoPorciento">Al fondo hay sitio
                    <a data-target="modal1" class="btn-floating pulse modal-trigger"><i class="material-icons " data-name="afhs" data-date="martes">add</i></a>
                </div>
                <div class="quincePorciento">TN. Caer en tentación
                    <a data-target="modal1" class="btn-floating pulse modal-trigger"><i class="material-icons " data-name="cet" data-date="martes">add</i></a>
                </div>
                <div class="quincePorciento">La rosa de Guadalupe
                    <a data-target="modal1" class="btn-floating pulse modal-trigger"><i class="material-icons " data-name="lrdg" data-date="martes">add</i></a>
                </div>
                <div class="quincePorciento">Cumbia pop
                    <a data-target="modal1" class="btn-floating pulse modal-trigger"><i class="material-icons " data-name="cp" data-date="martes">add</i></a>
                </div>
                <div class="quincePorciento">VBQ : " Empezando a vivir"
                    <a data-target="modal1" class="btn-floating pulse modal-trigger"><i class="material-icons " data-name="eav" data-date="martes">add</i></a>
                </div>
                <div class="quincePorciento">TN. OJITOS HECHICEROS
                    <a data-target="modal1" class="btn-floating pulse modal-trigger"><i class="material-icons " data-name="oh" data-date="martes">add</i></a>
                </div>
                <div class="quincePorciento">AMERICA NOTICIAS: EDICION CENTRAL
                    <a data-target="modal1" class="btn-floating pulse modal-trigger"><i class="material-icons " data-name="anec" data-date="martes"> add</i></a>
                </div>
                <div class="quincePorciento">LA BANDA DEL CHINO
                    <a data-target="modal1" class="btn-floating pulse modal-trigger"><i class="material-icons " data-name="lbdc" data-date="martes">add</i></a>
                </div>
                <div class="quincePorciento">MUJERES DE NEGRO
                    <a data-target="modal1" class="btn-floating pulse modal-trigger"><i class="material-icons " data-name="mdn" data-date="martes">add</i></a>
                </div>
                <div class="quincePorciento">TN. SIN TU MIRADA
                    <a data-target="modal1" class="btn-floating pulse modal-trigger"><i class="material-icons " data-name="stm" data-date="martes">add</i></a>
                </div>
                <div class="quincePorciento">En boca de todos ( REPETICION)
                    <a data-target="modal1" class="btn-floating pulse modal-trigger"><i class="material-icons " data-name="ebdt" data-date="martes">add</i></a>
                </div>
                <div class="quincePorciento">El privilegio de amar ( REPETICION)
                    <a data-target="modal1" class="btn-floating pulse modal-trigger"><i class="material-icons " data-name="epda" data-date="martes">add</i></a>
                </div>
            </div>
            <div class=" col s12 m12 l1 miercoles">
                <div class="fecha">Mieroles</div>
                <div class="quincePorciento">America Noticias Local
                    <a data-target="modal1" class="btn-floating pulse modal-trigger"><i class="material-icons " data-name="anpel" data-date="miércoles">add</i></a>
                </div>
                <div class="quincePorciento">AMERICA NOTICIAS: PRIMERA EDICION
                    <a data-target="modal1" class="btn-floating pulse modal-trigger"><i class="material-icons " data-name="anpe1" data-date="miércoles">add</i></a>
                </div>
                <div class="sinRecargo">AMERICA DEPORTES
                    <a data-target="modal1" class="btn-floating pulse modal-trigger"><i class="material-icons " data-name="ad" data-date="miércoles">add</i></a>
                </div>
                <div class="sinRecargo">AMERICA NOTICIAS: PRIMERA EDICION
                    <a data-target="modal1" class="btn-floating pulse modal-trigger"><i class="material-icons " data-name="ampe2" data-date="miércoles">add</i></a>
                </div>
                <div class="sinRecargo">El privilegio de amar
                    <a data-target="modal1" class="btn-floating pulse modal-trigger"><i class="material-icons " data-name="epda" data-date="miércoles">add</i></a>
                </div>
                <div class="sinRecargo">TN. MARIMAR
                    <a data-target="modal1" class="btn-floating pulse modal-trigger"><i class="material-icons " data-name="m" data-date="miércoles">add</i></a>
                </div>
                <div class="sinRecargo">LOS AMORES DE POLO
                    <a data-target="modal1" class="btn-floating pulse modal-trigger"><i class="material-icons " data-name="ladp" data-date="miércoles">add</i></a>
                </div>
                <div class="cincoPorciento">AMERICA NOTICIAS: EDICION DEL MEDIODIA
                    <a data-target="modal1" class="btn-floating pulse modal-trigger"><i class="material-icons " data-name="anedm" data-date="miércoles">add</i></a>
                </div>
                <div class="cincoPorciento">En boca de todos
                    <a data-target="modal1" class="btn-floating pulse modal-trigger"><i class="material-icons " data-name="ebdt" data-date="miércoles">add</i></a>
                </div>
                <div class="cincoPorciento">ANTESALA
                    <a data-target="modal1" class="btn-floating pulse modal-trigger"><i class="material-icons " data-name="a" data-date="miércoles">add</i></a>
                </div>
                <div class="cincoPorciento">CHAMPIONS LEAGUE
                    <a data-target="modal1" class="btn-floating pulse modal-trigger"><i class="material-icons " data-name="cl" data-date="miércoles">add</i></a>
                </div>
                <div class="quincePorciento">
                    La rosa de Guadalupe
                    <a data-target="modal1" class="btn-floating pulse modal-trigger"><i class="material-icons " data-name="lrdg" data-date="miércoles">add</i></a>
                </div>
                <div class="quincePorciento">Cumbia pop
                    <a data-target="modal1" class="btn-floating pulse modal-trigger"><i class="material-icons " data-name="cp" data-date="miércoles">add</i></a>
                </div>
                <div class="quincePorciento">Esto es guerra
                    <a data-target="modal1" class="btn-floating pulse modal-trigger"><i class="material-icons " data-name="eeg" data-date="miércoles">add</i></a>
                </div>
                <div class="quincePorciento">VBQ : " Empezando a vivir"
                    <a data-target="modal1" class="btn-floating pulse modal-trigger"><i class="material-icons " data-name="eav" data-date="miércoles">add</i></a>
                </div>
                <div class="quincePorciento">TN. OJITOS HECHICEROS
                    <a data-target="modal1" class="btn-floating pulse modal-trigger"><i class="material-icons " data-name="oh" data-date="miércoles">add</i></a>
                </div>
                <div class="quincePorciento">AMERICA NOTICIAS: EDICION CENTRAL
                    <a data-target="modal1" class="btn-floating pulse modal-trigger"><i class="material-icons " data-name="anec" data-date="miércoles">add</i></a>
                </div>
                <div class="quincePorciento">LA BANDA DEL CHINO
                    <a data-target="modal1" class="btn-floating pulse modal-trigger"><i class="material-icons " data-name="lbdc" data-date="miércoles">add</i></a>
                </div>
                <div class="quincePorciento">MUJERES DE NEGRO
                    <a data-target="modal1" class="btn-floating pulse modal-trigger"><i class="material-icons " data-name="mdn" data-date="miércoles">add</i></a>
                </div>
                <div class="quincePorciento">TN. SIN TU MIRADA
                    <a data-target="modal1" class="btn-floating pulse modal-trigger"><i class="material-icons " data-name="stm" data-date="miércoles">add</i></a>
                </div>
                <div class="quincePorciento">En boca de todos ( REPETICION)
                    <a data-target="modal1" class="btn-floating pulse modal-trigger"><i class="material-icons " data-name="ebdt" data-date="miércoles">add</i></a>
                </div>
                <div class="quincePorciento">El privilegio de amar ( REPETICION)
                    <a data-target="modal1" class="btn-floating pulse modal-trigger"><i class="material-icons " data-name="epda" data-date="miércoles">add</i></a>
                </div>
                <div class="quincePorciento">AMERICA ESPECTACULOS (REPETICION)
                    <a data-target="modal1" class="btn-floating pulse modal-trigger"><i class="material-icons " data-name="as" data-date="miércoles">add</i></a>
                </div>

            </div>
            <div class=" col s12 m12 l1 jueves">
                <div class="fecha">Jueves</div>
                <div class="quincePorciento">
                    America Noticias Local
                    <a data-target="modal1" class="btn-floating pulse modal-trigger"><i class="material-icons " data-name="anpel" data-date="jueves">add</i></a>
                </div>
                <div class="quincePorciento">AMERICA NOTICIAS: PRIMERA EDICION
                    <a data-target="modal1" class="btn-floating pulse modal-trigger"><i class="material-icons " data-name="anpe1" data-date="jueves">add</i></a>
                </div>
                <div class="sinRecargo">AMERICA DEPORTES
                    <a data-target="modal1" class="btn-floating pulse modal-trigger"><i class="material-icons " data-name="ad" data-date="jueves">add</i></a>
                </div>
                <div class="sinRecargo">AMERICA NOTICIAS: PRIMERA EDICION
                    <a data-target="modal1" class="btn-floating pulse modal-trigger"><i class="material-icons " data-name="anpe2" data-date="jueves">add</i></a>
                </div>
                <div class="sinRecargo">El privilegio de amar
                    <a data-target="modal1" class="btn-floating pulse modal-trigger"><i class="material-icons " data-name="epda" data-date="jueves"> add</i></a>
                </div>
                <div class="sinRecargo">TN. MARIMAR
                    <a data-target="modal1" class="btn-floating pulse modal-trigger"><i class="material-icons " data-name="m" data-date="jueves">add</i></a>
                </div>
                <div class="sinRecargo">LOS AMORES DE POLO
                    <a data-target="modal1" class="btn-floating pulse modal-trigger"><i class="material-icons " data-name="ladp" data-date="jueves">add</i></a>
                </div>
                <div class="cincoPorciento">AMERICA NOTICIAS: EDICION DEL MEDIODIA
                    <a data-target="modal1" class="btn-floating pulse modal-trigger"><i class="material-icons " data-name="anedm" data-date="jueves">add</i></a>
                </div>
                <div class="cincoPorciento">En boca de todos
                    <a data-target="modal1" class="btn-floating pulse modal-trigger"><i class="material-icons " data-name="ebdt" data-date="jueves">add</i></a>
                </div>
                <div class="cincoPorciento">Al fondo hay sitio
                    <a data-target="modal1" class="btn-floating pulse modal-trigger"><i class="material-icons " data-name="afhs" data-date="jueves">add</i></a>
                </div>
                <div class="quincePorciento">TN. Caer en tentación
                    <a data-target="modal1" class="btn-floating pulse modal-trigger"><i class="material-icons " data-name="cet" data-date="jueves">add</i></a>
                </div>
                <div class="quincePorciento">La rosa de Guadalupe
                    <a data-target="modal1" class="btn-floating pulse modal-trigger"><i class="material-icons " data-name="lrdg" data-date="jueves">add</i></a>
                </div>
                <div class="quincePorciento">Cumbia pop
                    <a data-target="modal1" class="btn-floating pulse modal-trigger"><i class="material-icons " data-name="cp" data-date="jueves">add</i></a>
                </div>
                <div class="quincePorciento">Esto es guerra
                    <a data-target="modal1" class="btn-floating pulse modal-trigger"><i class="material-icons " data-name="eeg" data-date="jueves">add</i></a>
                </div>
                <div class="quincePorciento">VBQ : " Empezando a vivir"
                    <a data-target="modal1" class="btn-floating pulse modal-trigger"><i class="material-icons " data-name="eav" data-date="jueves">add</i></a>
                </div>
                <div class="quincePorciento">TN. OJITOS HECHICEROS
                    <a data-target="modal1" class="btn-floating pulse modal-trigger"><i class="material-icons " data-name="oh" data-date="jueves">add</i></a>
                </div>
                <div class="quincePorciento">AMERICA NOTICIAS: EDICION CENTRAL
                    <a data-target="modal1" class="btn-floating pulse modal-trigger"><i class="material-icons " data-name="anec" data-date="jueves">add</i></a>
                </div>
                <div class="quincePorciento">LA BANDA DEL CHINO
                    <a data-target="modal1" class="btn-floating pulse modal-trigger"><i class="material-icons " data-name="lbdc" data-date="jueves">add</i></a>
                </div>
                <div class="quincePorciento">MUJERES DE NEGRO
                    <a data-target="modal1" class="btn-floating pulse modal-trigger"><i class="material-icons " data-name="mdn" data-date="jueves">add</i></a>
                </div>
                <div class="quincePorciento">TN. SIN TU MIRADA
                    <a data-target="modal1" class="btn-floating pulse modal-trigger"><i class="material-icons " data-name="stm" data-date="jueves">add</i></a>
                </div>
                <div class="quincePorciento">En boca de todos ( REPETICION)
                    <a data-target="modal1" class="btn-floating pulse modal-trigger"><i class="material-icons " data-name="ebdt" data-date="jueves">add</i></a>
                </div>
                <div class="quincePorciento">El privilegio de amar ( REPETICION)
                    <a data-target="modal1" class="btn-floating pulse modal-trigger"><i class="material-icons " data-name="epda" data-date="jueves">add</i></a>
                </div>
                <div class="quincePorciento">AMERICA ESPECTACULOS (REPETICION)
                    <a data-target="modal1" class="btn-floating pulse modal-trigger"><i class="material-icons " data-name="ae" data-date="jueves">add</i></a>
                </div>
            </div>
            <div class=" col s12 m12 l1 viernes">
                <div class="fecha">Viernes</div>
                <div class="quincePorciento">America Noticias Local
                    <a data-target="modal1" class="btn-floating pulse modal-trigger"><i class="material-icons " data-name="anpel" data-date="viernes">add</i></a>
                </div>
                <div class="quincePorciento">AMERICA NOTICIAS: PRIMERA EDICION
                    <a data-target="modal1" class="btn-floating pulse modal-trigger"><i class="material-icons " data-name="anpe1" data-date="viernes">add</i></a>
                </div>
                <div class="sinRecargo">AMERICA DEPORTES
                    <a data-target="modal1" class="btn-floating pulse modal-trigger"><i class="material-icons " data-name="ad" data-date="viernes">add</i></a>
                </div>
                <div class="sinRecargo">AMERICA NOTICIAS: PRIMERA EDICION
                    <a data-target="modal1" class="btn-floating pulse modal-trigger"><i class="material-icons " data-name="anpe2" data-date="viernes">add</i></a>
                </div>
                <div class="sinRecargo">El privilegio de amar
                    <a data-target="modal1" class="btn-floating pulse modal-trigger"><i class="material-icons " data-name="anpe2" data-date="viernes">add</i></a>
                </div>
                <div class="sinRecargo">TN. MARIMAR
                    <a data-target="modal1" class="btn-floating pulse modal-trigger"><i class="material-icons " data-name="m" data-date="viernes">add</i></a>
                </div>
                <div class="sinRecargo">LOS AMORES DE POLO
                    <a data-target="modal1" class="btn-floating pulse modal-trigger"><i class="material-icons " data-name="ladp" data-date="viernes">add</i></a>
                </div>
                <div class="cincoPorciento">AMERICA NOTICIAS: EDICION DEL MEDIODIA
                    <a data-target="modal1" class="btn-floating pulse modal-trigger"><i class="material-icons " data-name="anedm" data-date="viernes">add</i></a>
                </div>
                <div class="cincoPorciento">En boca de todos
                    <a data-target="modal1" class="btn-floating pulse modal-trigger"><i class="material-icons " data-name="ebdt" data-date="viernes">add</i></a>
                </div>
                <div class="cincoPorciento">Al fondo hay sitio
                    <a data-target="modal1" class="btn-floating pulse modal-trigger"><i class="material-icons " data-name="afhs" data-date="viernes">add</i></a>
                </div>
                <div class="quincePorciento">TN. Caer en tentación
                    <a data-target="modal1" class="btn-floating pulse modal-trigger"><i class="material-icons " data-name="cet" data-date="viernes">add</i></a>
                </div>
                <div class="quincePorciento">La rosa de Guadalupe
                    <a data-target="modal1" class="btn-floating pulse modal-trigger"><i class="material-icons " data-name="lrdg" data-date="viernes">add</i></a>
                </div>
                <div class="quincePorciento">Cumbia pop
                    <a data-target="modal1" class="btn-floating pulse modal-trigger"><i class="material-icons " data-name="cp" data-date="viernes">add</i></a>
                </div>
                <div class="quincePorciento">Esto es guerra
                    <a data-target="modal1" class="btn-floating pulse modal-trigger"><i class="material-icons " data-name="eeg" data-date="viernes">add</i></a>
                </div>
                <div class="quincePorciento">VBQ : " Empezando a vivir"
                    <a data-target="modal1" class="btn-floating pulse modal-trigger"><i class="material-icons " data-name="eav" data-date="viernes">add</i></a>
                </div>
                <div class="quincePorciento">TN. OJITOS HECHICEROS
                    <a data-target="modal1" class="btn-floating pulse modal-trigger"><i class="material-icons " data-name="oh" data-date="viernes">add</i></a>
                </div>
                <div class="quincePorciento">AMERICA NOTICIAS: EDICION CENTRAL
                    <a data-target="modal1" class="btn-floating pulse modal-trigger"><i class="material-icons " data-name="anec" data-date="viernes">add</i></a>
                </div>
                <div class="quincePorciento">LA BANDA DEL CHINO
                    <a data-target="modal1" class="btn-floating pulse modal-trigger"><i class="material-icons " data-name="lbdc" data-date="viernes">add</i></a>
                </div>
                <div class="quincePorciento">MUJERES DE NEGRO
                    <a data-target="modal1" class="btn-floating pulse modal-trigger"><i class="material-icons " data-name="mdn" data-date="viernes">add</i></a>
                </div>
                <div class="quincePorciento">TN. SIN TU MIRADA
                    <a data-target="modal1" class="btn-floating pulse modal-trigger"><i class="material-icons " data-name="stm" data-date="viernes">add</i></a>
                </div>
                <div class="quincePorciento">En boca de todos ( REPETICION)
                    <a data-target="modal1" class="btn-floating pulse modal-trigger"><i class="material-icons " data-name="ebdt" data-date="viernes">add</i></a>
                </div>
                <div class="quincePorciento">El privilegio de amar ( REPETICION)
                    <a data-target="modal1" class="btn-floating pulse modal-trigger"><i class="material-icons " data-name="epda" data-date="viernes">add</i></a>
                </div>
                <div class="quincePorciento">AMERICA NOTICIAS (REPETICION)
                    <a data-target="modal1" class="btn-floating pulse modal-trigger"><i class="material-icons " data-name="an" data-date="viernes">add</i></a>
                </div>

            </div>
            <div class=" col s12 m12 l1 sabado">
                <div class="fecha">Sabado</div>
                <div class="quincePorciento">AMERICA ESPECTACULOS (REPETICION)
                    <a data-target="modal1" class="btn-floating pulse modal-trigger"><i class="material-icons " data-name="am" data-date="sabado">add</i></a>
                </div>
                <div class="quincePorciento">AMERICA NOTICIAS MATUTINO
                    <a data-target="modal1" class="btn-floating pulse modal-trigger"><i class="material-icons " data-name="anm" data-date="sabado">add</i></a>
                </div>
                <div class="quincePorciento">AMERICA NOTICIAS: EDICION DEL SABADO
                    <a data-target="modal1" class="btn-floating pulse modal-trigger"><i class="material-icons " data-name="aneds" data-date="sabado">add</i></a>
                </div>
                <div class="sinRecargo">ESTAS EN TODAS
                    <a data-target="modal1" class="btn-floating pulse modal-trigger"><i class="material-icons " data-name="eet" data-date="sabado">add</i></a>
                </div>
                <div class="sinRecargo">CINESCAPE
                    <a data-target="modal1" class="btn-floating pulse modal-trigger"><i class="material-icons " data-name="c" data-date="sabado">add</i></a>
                </div>
                <div class="sinRecargo">EL CHAVO DEL OCHO
                    <a data-target="modal1" class="btn-floating pulse modal-trigger"><i class="material-icons " data-name="ecdo1" data-date="sabado">add</i></a>
                </div>
                <div class="cincoPorciento">SOLAMENTE MILAGROS
                    <a data-target="modal1" class="btn-floating pulse modal-trigger"><i class="material-icons " data-name="sm" data-date="sabado">add</i></a>
                </div>
                <div class="cincoPorciento">EL CHAVO DEL OCHO
                    <a data-target="modal1" class="btn-floating pulse modal-trigger"><i class="material-icons " data-name="ecdo2" data-date="sabado">add</i></a>
                </div>
                <div class="cincoPorciento">MI PAPA Y NUESTRO MUNDO FANTASTICO
                    <a data-target="modal1" class="btn-floating pulse modal-trigger"><i class="material-icons " data-name="mpynmf" data-date="sabado">add</i></a>
                </div>
                <div class="quincePorciento">EL CHAVO DEL OCHO
                    <a data-target="modal1" class="btn-floating pulse modal-trigger"><i class="material-icons " data-name="ecdo3" data-date="sabado">add</i></a>
                </div>
                <div class="quincePorciento">La rosa de Guadalupe
                    <a data-target="modal1" class="btn-floating pulse modal-trigger"><i class="material-icons " data-name="lrdg" data-date="sabado">add</i></a>
                </div>
                <div class="quincePorciento">LA PREVIA
                    <a data-target="modal1" class="btn-floating pulse modal-trigger"><i class="material-icons " data-name="lp" data-date="sabado">add</i></a>
                </div>
                <div class="quincePorciento">EL REVENTONAZO
                    <a data-target="modal1" class="btn-floating pulse modal-trigger"><i class="material-icons " data-name="er" data-date="sabado">add</i></a>
                </div>
                <div class="quincePorciento">GISELA: BUSCA EL AMOR
                    <a data-target="modal1" class="btn-floating pulse modal-trigger"><i class="material-icons " data-name="gbea" data-date="sabado">add</i></a>
                </div>
                <div class="quincePorciento">MUJERES SIN FILTRO
                    <a data-target="modal1" class="btn-floating pulse modal-trigger"><i class="material-icons " data-name="msf" data-date="sabado">add</i></a>
                </div>
                <div class="quincePorciento">21 BLACKJACK
                    <a data-target="modal1" class="btn-floating pulse modal-trigger"><i class="material-icons " data-name="21b" data-date="sabado">add</i></a>
                </div>
                <div class="quincePorciento">CHICAGO FIRE 3
                    <a data-target="modal1" class="btn-floating pulse modal-trigger"><i class="material-icons " data-name="cf3" data-date="sabado">add</i></a>
                </div>
                <div class="quincePorciento">LA GRAN SANGRE, LA PELICULA
                    <a data-target="modal1" class="btn-floating pulse modal-trigger"><i class="material-icons " data-name="lgslp" data-date="sabado">add</i></a>
                </div>
                <div class="quincePorciento">COMO NIKKEI
                    <a data-target="modal1" class="btn-floating pulse modal-trigger"><i class="material-icons " data-name="cn" data-date="sabado">add</i></a>
                </div>

            </div>
            <div class=" col s12 m12 l1 domingo">
                <div class="fecha">Domingo</div>
                <div class="quincePorciento">AUTOMUNDO
                    <a data-target="modal1" class="btn-floating pulse modal-trigger"><i class="material-icons " data-name="a" data-date="domingo">add</i></a>
                </div>
                <div class="quincePorciento">ESTAS EN TODAS (REPETICION)
                    <a data-target="modal1" class="btn-floating pulse modal-trigger"><i class="material-icons " data-name="eet" data-date="domingo">add</i></a>
                </div>
                <div class="quincePorciento">AMERICA NOTICIAS: EDICION DOMINICAL
                    <a data-target="modal1" class="btn-floating pulse modal-trigger"><i class="material-icons " data-name="aned" data-date="domingo">add</i></a>
                </div>
                <div class="sinRecargo">DOMINGO AL DIA
                    <a data-target="modal1" class="btn-floating pulse modal-trigger"><i class="material-icons " data-name="dad" data-date="domingo">add</i></a>
                </div>
                <div class="sinRecargo">TEC
                    <a data-target="modal1" class="btn-floating pulse modal-trigger"><i class="material-icons " data-name="t" data-date="domingo">add</i></a>
                </div>
                <div class="cincoPorciento">EL CHAVO DEL OCHO
                    <a data-target="modal1" class="btn-floating pulse modal-trigger"><i class="material-icons " data-name="ecdo" data-date="domingo">add</i></a>
                </div>
                <div class="cincoPorciento">HERCULES
                    <a data-target="modal1" class="btn-floating pulse modal-trigger"><i class="material-icons " data-name="h" data-date="domingo">add</i></a>
                </div>
                <div class="quincePorciento">BATALLA NAVAL
                    <a data-target="modal1" class="btn-floating pulse modal-trigger"><i class="material-icons " data-name="bn" data-date="domingo">add</i></a>
                </div>
                <div class="quincePorciento">La rosa de Guadalupe
                    <a data-target="modal1" class="btn-floating pulse modal-trigger"><i class="material-icons " data-name="lrdg" data-date="domingo">add</i></a>
                </div>
                <div class="quincePorciento">CUARTO PODER
                    <a data-target="modal1" class="btn-floating pulse modal-trigger"><i class="material-icons " data-name="cp" data-date="domingo">add</i></a>
                </div>
                <div class="quincePorciento">FUTBOL EN AMERICA
                    <a data-target="modal1" class="btn-floating pulse modal-trigger"><i class="material-icons " data-name="fea" data-date="domingo">add</i></a>
                </div>
                <div class="quincePorciento">LADRONA DE IDENTIDADES
                    <a data-target="modal1" class="btn-floating pulse modal-trigger"><i class="material-icons " data-name="ldi" data-date="domingo">add</i></a>
                </div>
                <div class="quincePorciento">COMO NIKKEI
                    <a data-target="modal1" class="btn-floating pulse modal-trigger"><i class="material-icons " data-name="cn" data-date="domingo">add</i></a>
                </div>
                <div class="quincePorciento">CUARTO PODER (REPETICION)
                    <a data-target="modal1" class="btn-floating pulse modal-trigger"><i class="material-icons " data-name="cp" data-date="domingo">add</i></a>
                </div>

            </div>
        </div>
        <div id="modal1" class="modal">

        </div>
        <!--Firebase-->
        <script src="https://www.gstatic.com/firebasejs/5.3.0/firebase-app.js"></script>
        <script src="https://www.gstatic.com/firebasejs/5.3.0/firebase-auth.js"></script>
        <script src="https://www.gstatic.com/firebasejs/5.3.0/firebase-firestore.js"></script>
        <!-- Compiled and minified JavaScript -->
        <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
            crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
        <script src="../js/firebase.js"></script>
        <script src="../js/home.js"></script>
</body>

</html>