<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>América TV</title>
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <!--Font Google-->
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!-- CSS Optional -->
  <link rel="stylesheet" href="../styles/home.css">
  <link rel="stylesheet" href="../styles/home.css">
</head>
<body>
  <div class="top-nav">
    <a href="#" data-target="slide-out" class="sidenav-trigger btn-menu"><i class="material-icons">menu</i></a>
  </div>
  <section>
    <ul id="slide-out" class="sidenav">
      <li>
        <div class="user-view">
          <div class="background">
              <img src="http://www.comercial.americatv.com.pe/images/logo_header.png"> 
          </div>
          <h5>AMÉRICA</h5>
        </div>
      </li>
      <li class="sidenav-datos">
        <a href="#!"><i class="material-icons">store</i>LIQUID</a>
        <span>Teresa Lara</span>
      </li>
      <!-- <li><div class="divider"></div></li> -->
      <li><a class="subheader"><i class="material-icons">home</i> Panel de programación</a>
      </li>
      <li>
        <ul class="collapsible">
          <li>
            <div class="collapsible-header">Tus Reservas</div>
            <div class="collapsible-body"><a href="">Nueva Reserva</a></div>
            <div class="collapsible-body"> <a href="">Historial de Reserva</a></div>
          </li>
          <li>
            <div class="collapsible-header">Tus productos</div>
            <div class="collapsible-body"><a href="">Agregar Nuevo Producto</a></div>
            <div class="collapsible-body"><a href="">Historial de Productos</a></div>
          </li>
          <li>
              <div class="collapsible-header">Configuración</div>
          </li>
        </ul>
      </li>
    </ul>
  </section>
  <div class="container-fluid center-align section">
    <div class="row cronograma">
      <div class="col s12 m12 l1 lunes offset-l2">
        <div class="fecha">Lunes</div>
        <div class=""> AMERICA NOTICIAS LOCAL
            <a class="btn-floating pulse " data-name="anpel" data-date="lunes"><i class="material-icons ">add</i></a>
        </div>
        <div class="">AMERICA NOTICIAS: PRIMERA EDICION
            <a class="btn-floating pulse " data-name="anpe1" data-date="lunes"><i class="material-icons ">add</i></a>
        </div>
        <div class="sinRecargo">AMERICA DEPORTES
            <a class="btn-floating pulse " data-name="ad" data-date="lunes"><i class="material-icons ">add</i></a>
        </div>
        <div class="sinRecargo">AMERICA NOTICIAS: PRIMERA EDICION
            <a class="btn-floating pulse " data-name="anpe2" data-date="lunes"><i class="material-icons ">add</i></a>
        </div>
        <div class="sinRecargo">TN. EL PRIVILEGIO DE AMAR
            <a class="btn-floating pulse " data-name="epda" data-date="lunes"><i class="material-icons ">add</i></a>
        </div>
        <div class="sinRecargo">TN. MARIMAR
            <a class="btn-floating pulse " data-name="m" data-date="lunes"><i class="material-icons ">add</i></a>
        </div>
        <div class="sinRecargo">LOS AMORES DE POLO
            <a class="btn-floating pulse " data-name="ladp" data-date="lunes"><i class="material-icons ">add</i></a>
        </div>
        <div>AMERICA NOTICIAS: EDICION DEL MEDIODIA 
            <a class="btn-floating pulse " data-name="anedm" data-date="lunes"><i class="material-icons ">add</i></a>
        </div>
        <div>EN BOCA DE TODOS
            <a class="btn-floating pulse " data-name="ebdt" data-date="lunes"><i class="material-icons ">add</i></a>
        </div>
        <div>AL FONDO HAY SITIO
            <a class="btn-floating pulse " data-name="afhs" data-date="lunes"><i class="material-icons ">add</i></a>
        </div>
        <div>TN. CAER EN TENTACION
            <a class="btn-floating pulse " data-name="cet" data-date="lunes"><i class="material-icons ">add</i></a>
        </div>
        <div>LA ROSA DE GUADALUPE
            <a class="btn-floating pulse " data-name="lrdg" data-date="lunes"><i class="material-icons ">add</i></a>
        </div>
        <div>CUMBIA POP
            <a class="btn-floating pulse " data-name="cp" data-date="lunes"><i class="material-icons ">add</i></a>
        </div>
        <div>VBQ : " EMPEZANDO A VIVIR"
            <a class="btn-floating pulse " data-name="eav" data-date="lunes"><i class="material-icons ">add</i></a>
        </div>
        <div>COLORINA
            <a class="btn-floating pulse " data-name="c" data-date="lunes"><i class="material-icons ">add</i></a>
        </div>
        <div>AMERICA NOTICIAS: EDICION CENTRAL
            <a class="btn-floating pulse " data-name="anec" data-date="lunes"><i class="material-icons ">add</i></a>
        </div>
        <div>LA BANDA DEL CHINO
            <a class="btn-floating pulse " data-name="lbdc" data-date="lunes"><i class="material-icons ">add</i></a>
        </div>
        <div>MUJERES DE NEGRO
            <a class="btn-floating pulse " data-name="mdn" data-date="lunes"><i class="material-icons ">add</i></a>
        </div>
        <div>TN. SIN TU MIRADA
            <a class="btn-floating pulse " data-name="stm" data-date="lunes"><i class="material-icons ">add</i></a>
        </div>
        <div>EN BOCA DE TODOS ( REPETICION)
            <a class="btn-floating pulse " data-name="ebdt" data-date="lunes"><i class="material-icons ">add</i></a>
        </div>
        <div>TN. EL PRIVILEGIO DE AMAR ( REPETICION)
            <a class="btn-floating pulse " data-name="epda" data-date="lunes"><i class="material-icons ">add</i></a>
        </div>
      </div>
      <div class=" col s12 m12 l1 martes">
        <div class="fecha">Martes</div>
        <div class="">America Noticias Local
            <a class="btn-floating pulse " data-name="anpel" data-date="martes"><i class="material-icons ">add</i></a>
        </div>
        <div class="">AMERICA NOTICIAS: PRIMERA EDICION
            <a class="btn-floating pulse " data-name="anpe1" data-date="martes"><i class="material-icons ">add</i></a>
        </div>
        <div class="sinRecargo">AMERICA DEPORTES
            <a class="btn-floating pulse " data-name="ad" data-date="martes"><i class="material-icons ">add</i></a>
        </div>
        <div class="sinRecargo">AMERICA NOTICIAS: PRIMERA EDICION
            <a class="btn-floating pulse " data-name="anpe2" data-date="martes"><i class="material-icons ">add</i></a>
        </div>
        <div class="sinRecargo">TN. EL PRIVILEGIO DE AMAR
            <a class="btn-floating pulse " data-name="epda" data-date="martes"><i class="material-icons ">add</i></a>
        </div>
        <div class="sinRecargo">TN. MARIMAR
            <a class="btn-floating pulse " data-name="m" data-date="martes"><i class="material-icons ">add</i></a>
        </div>
        <div class="sinRecargo">LOS AMORES DE POLO
            <a class="btn-floating pulse " data-name="ladp" data-date="martes"><i class="material-icons ">add</i></a>
        </div>
        <div>AMERICA NOTICIAS: EDICION DEL MEDIODIA 
            <a class="btn-floating pulse " data-name="anedm" data-date="martes"><i class="material-icons ">add</i></a>
        </div>
        <div>EN BOCA DE TODOS
            <a class="btn-floating pulse " data-name="ebdt" data-date="martes"><i class="material-icons ">add</i></a>
        </div>
        <div>AL FONDO HAY SITIO
            <a class="btn-floating pulse " data-name="afhs" data-date="martes"><i class="material-icons ">add</i></a>
        </div>
        <div>TN. CAER EN TENTACION
            <a class="btn-floating pulse " data-name="cet" data-date="martes"><i class="material-icons ">add</i></a>
        </div>
        <div>LA ROSA DE GUADALUPE
            <a class="btn-floating pulse " data-name="lrdg" data-date="martes"><i class="material-icons ">add</i></a>
        </div>
        <div>CUMBIA POP
            <a class="btn-floating pulse " data-name="cp" data-date="martes"><i class="material-icons ">add</i></a>
        </div>
        <div>VBQ : " EMPEZANDO A VIVIR"
            <a class="btn-floating pulse " data-name="eav" data-date="martes"><i class="material-icons ">add</i></a>
        </div>
        <div>TN. OJITOS HECHICEROS
            <a class="btn-floating pulse " data-name="oh" data-date="martes"><i class="material-icons ">add</i></a>
        </div>
        <div>AMERICA NOTICIAS: EDICION CENTRAL
            <a class="btn-floating pulse " data-name="anec" data-date="martes"><i class="material-icons ">add</i></a>
        </div>
        <div>LA BANDA DEL CHINO
            <a class="btn-floating pulse " data-name="lbdc" data-date="martes"><i class="material-icons ">add</i></a>
        </div>
        <div>MUJERES DE NEGRO
            <a class="btn-floating pulse " data-name="mdn" data-date="martes"><i class="material-icons ">add</i></a>
        </div>
        <div>TN. SIN TU MIRADA
            <a class="btn-floating pulse " data-name="stm" data-date="martes"><i class="material-icons ">add</i></a>
        </div>
        <div>EN BOCA DE TODOS ( REPETICION)
            <a class="btn-floating pulse " data-name="ebdt" data-date="martes"><i class="material-icons ">add</i></a>
        </div>
        <div>TN. EL PRIVILEGIO DE AMAR ( REPETICION)
            <a class="btn-floating pulse " data-name="epda" data-date="martes"><i class="material-icons ">add</i></a>
        </div>
      </div>
      <div class=" col s12 m12 l1 miercoles">
          <div class="fecha">Mieroles</div>
          <div class="">America Noticias Local
              <a class="btn-floating pulse " data-name="anpel" data-date="miercoles"><i class="material-icons ">add</i></a>
          </div>
          <div class="">AMERICA NOTICIAS: PRIMERA EDICION
              <a class="btn-floating pulse " data-name="anpe1" data-date="miercoles"><i class="material-icons ">add</i></a>
          </div>
          <div class="sinRecargo">AMERICA DEPORTES
              <a class="btn-floating pulse " data-name="ad" data-date="miercoles"><i class="material-icons ">add</i></a>
          </div>
          <div class="sinRecargo">AMERICA NOTICIAS: PRIMERA EDICION
              <a class="btn-floating pulse " data-name="ampe2" data-date="miercoles"><i class="material-icons ">add</i></a>
          </div>
          <div class="sinRecargo">TN. EL PRIVILEGIO DE AMAR
              <a class="btn-floating pulse " data-name="epda" data-date="miercoles"><i class="material-icons ">add</i></a>
          </div>
          <div class="sinRecargo">TN. MARIMAR
              <a class="btn-floating pulse " data-name="m" data-date="miercoles"><i class="material-icons ">add</i></a>
          </div>
          <div class="sinRecargo">LOS AMORES DE POLO
              <a class="btn-floating pulse " data-name="ladp" data-date="miercoles"><i class="material-icons ">add</i></a>
          </div>
          <div>AMERICA NOTICIAS: EDICION DEL MEDIODIA 
              <a class="btn-floating pulse " data-name="anedm" data-date="miercoles"><i class="material-icons ">add</i></a>
          </div>
          <div>EN BOCA DE TODOS
              <a class="btn-floating pulse " data-name="ebdt" data-date="miercoles"><i class="material-icons ">add</i></a>
          </div>
          <div>ANTESALA
              <a class="btn-floating pulse " data-name="a" data-date="miercoles"><i class="material-icons ">add</i></a>
          </div>
          <div>CHAMPIONS LEAGUE
              <a class="btn-floating pulse " data-name="cl" data-date="miercoles"><i class="material-icons ">add</i></a>
          </div>
          <div>
            LA ROSA DE GUADALUPE
            <a class="btn-floating pulse " data-name="lrdg" data-date="miercoles"><i class="material-icons ">add</i></a>
          </div>
          <div>CUMBIA POP
              <a class="btn-floating pulse " data-name="cp" data-date="miercoles"><i class="material-icons ">add</i></a>
          </div>
          <div>ESTO ES GUERRA
              <a class="btn-floating pulse " data-name="eeg" data-date="miercoles"><i class="material-icons ">add</i></a>
          </div>
          <div>VBQ : " EMPEZANDO A VIVIR"
              <a class="btn-floating pulse " data-name="eav" data-date="miercoles"><i class="material-icons ">add</i></a>
          </div>
          <div>TN. OJITOS HECHICEROS
              <a class="btn-floating pulse " data-name="oh" data-date="miercoles"><i class="material-icons ">add</i></a>
          </div>
          <div>AMERICA NOTICIAS: EDICION CENTRAL
              <a class="btn-floating pulse " data-name="anec" data-date="miercoles"><i class="material-icons ">add</i></a>
          </div>
          <div>LA BANDA DEL CHINO
              <a class="btn-floating pulse " data-name="lbdc" data-date="miercoles"><i class="material-icons ">add</i></a>
          </div>
          <div>MUJERES DE NEGRO
              <a class="btn-floating pulse " data-name="mdn" data-date="miercoles"><i class="material-icons ">add</i></a>
          </div>
          <div>TN. SIN TU MIRADA
              <a class="btn-floating pulse " data-name="stm" data-date="miercoles"><i class="material-icons ">add</i></a>
          </div>
          <div>EN BOCA DE TODOS ( REPETICION)
              <a class="btn-floating pulse " data-name="ebdt" data-date="miercoles"><i class="material-icons ">add</i></a>
          </div>
          <div>TN. EL PRIVILEGIO DE AMAR ( REPETICION)
              <a class="btn-floating pulse " data-name="epda" data-date="miercoles"><i class="material-icons ">add</i></a>
          </div>
          <div>AMERICA ESPECTACULOS (REPETICION)
              <a class="btn-floating pulse " data-name="as" data-date="miercoles"><i class="material-icons ">add</i></a>
          </div>

      </div>
      <div class=" col s12 m12 l1 jueves">
        <div class="fecha">Jueves</div>
        <div class="">
            America Noticias Local
            <a class="btn-floating pulse " data-name="anpel" data-date="jueves"><i class="material-icons ">add</i></a>
        </div>
        <div class="">AMERICA NOTICIAS: PRIMERA EDICION
            <a class="btn-floating pulse " data-name="anpe1" data-date="jueves"><i class="material-icons ">add</i></a>
        </div>
        <div class="sinRecargo">AMERICA DEPORTES
          <a class="btn-floating pulse " data-name="ad" data-date="jueves"><i class="material-icons ">add</i></a>
        </div>
        <div class="sinRecargo">AMERICA NOTICIAS: PRIMERA EDICION
            <a class="btn-floating pulse " data-name="anpe2" data-date="jueves"><i class="material-icons ">add</i></a>
        </div>
        <div class="sinRecargo">TN. EL PRIVILEGIO DE AMAR
            <a class="btn-floating pulse " data-name="epda" data-date="jueves"><i class="material-icons ">add</i></a>
        </div>
        <div class="sinRecargo">TN. MARIMAR
            <a class="btn-floating pulse " data-name="m" data-date="jueves"><i class="material-icons ">add</i></a>
        </div>
        <div class="sinRecargo">LOS AMORES DE POLO
            <a class="btn-floating pulse " data-name="ladp" data-date="jueves"><i class="material-icons ">add</i></a>
        </div>
        <div>AMERICA NOTICIAS: EDICION DEL MEDIODIA 
            <a class="btn-floating pulse " data-name="anedm" data-date="jueves"><i class="material-icons ">add</i></a>
        </div>
        <div>EN BOCA DE TODOS
            <a class="btn-floating pulse " data-name="ebdt" data-date="jueves"><i class="material-icons ">add</i></a>
        </div>
        <div>AL FONDO HAY SITIO
            <a class="btn-floating pulse " data-name="afhs" data-date="jueves"><i class="material-icons ">add</i></a>
        </div>
        <div>TN. CAER EN TENTACION
            <a class="btn-floating pulse " data-name="cet" data-date="jueves"><i class="material-icons ">add</i></a>
        </div>
        <div>LA ROSA DE GUADALUPE
            <a class="btn-floating pulse " data-name="lrdg" data-date="jueves"><i class="material-icons ">add</i></a>
        </div>
        <div>CUMBIA POP
            <a class="btn-floating pulse " data-name="cp" data-date="jueves"><i class="material-icons ">add</i></a>
        </div>
        <div>ESTO ES GUERRA
            <a class="btn-floating pulse " data-name="eeg" data-date="jueves"><i class="material-icons ">add</i></a>
        </div>
        <div>VBQ : " EMPEZANDO A VIVIR"
            <a class="btn-floating pulse " data-name="eav" data-date="jueves"><i class="material-icons ">add</i></a>
        </div>
        <div>TN. OJITOS HECHICEROS
            <a class="btn-floating pulse " data-name="oh" data-date="jueves"><i class="material-icons ">add</i></a>
        </div>
        <div>AMERICA NOTICIAS: EDICION CENTRAL
            <a class="btn-floating pulse " data-name="anec" data-date="jueves"><i class="material-icons ">add</i></a>
        </div>
        <div>LA BANDA DEL CHINO
            <a class="btn-floating pulse " data-name="lbdc" data-date="jueves"><i class="material-icons ">add</i></a>
        </div>
        <div>MUJERES DE NEGRO
            <a class="btn-floating pulse " data-name="mdn" data-date="jueves"><i class="material-icons ">add</i></a>
        </div>
        <div>TN. SIN TU MIRADA
            <a class="btn-floating pulse " data-name="stm" data-date="jueves"><i class="material-icons ">add</i></a>
        </div>
        <div>EN BOCA DE TODOS ( REPETICION)
            <a class="btn-floating pulse " data-name="ebdt" data-date="jueves"><i class="material-icons ">add</i></a>
        </div>
        <div>TN. EL PRIVILEGIO DE AMAR ( REPETICION)
            <a class="btn-floating pulse " data-name="epda" data-date="jueves"><i class="material-icons ">add</i></a>
        </div>
        <div>AMERICA ESPECTACULOS (REPETICION)
            <a class="btn-floating pulse " data-name="ae" data-date="jueves"><i class="material-icons ">add</i></a>
        </div>
      </div>
      <div class=" col s12 m12 l1 viernes">
        <div class="fecha">Viernes</div>
        <div class="">America Noticias Local
            <a class="btn-floating pulse " data-name="anpel" data-date="viernes"><i class="material-icons ">add</i></a>
        </div>
        <div class="">AMERICA NOTICIAS: PRIMERA EDICION
            <a class="btn-floating pulse " data-name="anpe1" data-date="viernes"><i class="material-icons ">add</i></a>
        </div>
        <div class="sinRecargo">AMERICA DEPORTES
            <a class="btn-floating pulse " data-name="ad" data-date="viernes"><i class="material-icons ">add</i></a>
        </div>
        <div class="sinRecargo">AMERICA NOTICIAS: PRIMERA EDICION
            <a class="btn-floating pulse " data-name="anpe2" data-date="viernes"><i class="material-icons ">add</i></a>
        </div>
        <div class="sinRecargo">TN. EL PRIVILEGIO DE AMAR
            <a class="btn-floating pulse " data-name="anpe2" data-date="viernes"><i class="material-icons ">add</i></a>
        </div>
        <div class="sinRecargo">TN. MARIMAR
            <a class="btn-floating pulse " data-name="m" data-date="viernes"><i class="material-icons ">add</i></a>
        </div>
        <div class="sinRecargo">LOS AMORES DE POLO
            <a class="btn-floating pulse " data-name="ladp" data-date="viernes"><i class="material-icons ">add</i></a>
        </div>
        <div>AMERICA NOTICIAS: EDICION DEL MEDIODIA 
            <a class="btn-floating pulse " data-name="anedm" data-date="viernes"><i class="material-icons ">add</i></a>
        </div>
        <div>EN BOCA DE TODOS
            <a class="btn-floating pulse " data-name="ebdt" data-date="viernes"><i class="material-icons ">add</i></a>
        </div>
        <div>AL FONDO HAY SITIO 
            <a class="btn-floating pulse " data-name="afhs" data-date="viernes"><i class="material-icons ">add</i></a>
        </div>
        <div>TN. CAER EN TENTACION
            <a class="btn-floating pulse " data-name="cet" data-date="viernes"><i class="material-icons ">add</i></a>
        </div>
        <div>LA ROSA DE GUADALUPE
            <a class="btn-floating pulse " data-name="lrdg" data-date="viernes"><i class="material-icons ">add</i></a>
        </div>
        <div>CUMBIA POP
            <a class="btn-floating pulse " data-name="cp" data-date="viernes"><i class="material-icons ">add</i></a>
        </div>
        <div>ESTO ES GUERRA
            <a class="btn-floating pulse " data-name="eeg" data-date="viernes"><i class="material-icons ">add</i></a>
        </div>
        <div>VBQ : " EMPEZANDO A VIVIR"
            <a class="btn-floating pulse " data-name="eav" data-date="viernes"><i class="material-icons ">add</i></a>
        </div>
        <div>TN. OJITOS HECHICEROS
            <a class="btn-floating pulse " data-name="oh" data-date="viernes"><i class="material-icons ">add</i></a>
        </div>
        <div>AMERICA NOTICIAS: EDICION CENTRAL
            <a class="btn-floating pulse " data-name="anec" data-date="viernes"><i class="material-icons ">add</i></a>
        </div>
        <div>LA BANDA DEL CHINO
            <a class="btn-floating pulse " data-name="lbdc" data-date="viernes"><i class="material-icons ">add</i></a>
        </div>
        <div>MUJERES DE NEGRO
            <a class="btn-floating pulse " data-name="mdn" data-date="viernes"><i class="material-icons ">add</i></a>
        </div>
        <div>TN. SIN TU MIRADA
            <a class="btn-floating pulse " data-name="stm" data-date="viernes"><i class="material-icons ">add</i></a>
        </div>
        <div>EN BOCA DE TODOS ( REPETICION)
            <a class="btn-floating pulse " data-name="ebdt" data-date="viernes"><i class="material-icons ">add</i></a>
        </div>
        <div>TN. EL PRIVILEGIO DE AMAR ( REPETICION)
            <a class="btn-floating pulse " data-name="epda" data-date="viernes"><i class="material-icons ">add</i></a>
        </div>
        <div>AMERICA NOTICIAS (REPETICION)
            <a class="btn-floating pulse " data-name="an" data-date="viernes"><i class="material-icons ">add</i></a>
        </div>

      </div>
      <div class=" col s12 m12 l1 sabado">
        <div class="fecha">Sabado</div>
        <div>AMERICA ESPECTACULOS (REPETICION)
            <a class="btn-floating pulse " data-name="am" data-date="sabado"><i class="material-icons ">add</i></a>
        </div>
        <div>AMERICA NOTICIAS MATUTINO
            <a class="btn-floating pulse " data-name="anm" data-date="sabado"><i class="material-icons ">add</i></a>
        </div>
        <div>AMERICA  NOTICIAS: EDICION DEL SABADO
            <a class="btn-floating pulse " data-name="aneds" data-date="sabado"><i class="material-icons ">add</i></a>
        </div>
        <div>ESTAS EN TODAS
            <a class="btn-floating pulse " data-name="eet" data-date="sabado"><i class="material-icons ">add</i></a>
        </div>
        <div>CINESCAPE
            <a class="btn-floating pulse " data-name="c" data-date="sabado"><i class="material-icons ">add</i></a>
        </div>
        <div>EL CHAVO DEL OCHO
            <a class="btn-floating pulse " data-name="ecdo1" data-date="sabado"><i class="material-icons ">add</i></a>
        </div>
        <div>SOLAMENTE MILAGROS
            <a class="btn-floating pulse " data-name="sm" data-date="sabado"><i class="material-icons ">add</i></a>
        </div>
        <div>EL CHAVO DEL OCHO
            <a class="btn-floating pulse " data-name="ecdo2" data-date="sabado"><i class="material-icons ">add</i></a>
        </div>
        <div>MI PAPA Y NUESTRO MUNDO FANTASTICO
            <a class="btn-floating pulse " data-name="mpynmf" data-date="sabado"><i class="material-icons ">add</i></a>
        </div>
        <div>EL CHAVO DEL OCHO
            <a class="btn-floating pulse " data-name="ecdo3" data-date="sabado"><i class="material-icons ">add</i></a>
        </div>
        <div>LA ROSA DE GUADALUPE
            <a class="btn-floating pulse " data-name="lrdg" data-date="sabado"><i class="material-icons ">add</i></a>
        </div>
        <div>LA PREVIA
            <a class="btn-floating pulse " data-name="lp" data-date="sabado"><i class="material-icons ">add</i></a>
        </div>
        <div>EL REVENTONAZO
            <a class="btn-floating pulse " data-name="er" data-date="sabado"><i class="material-icons ">add</i></a>
        </div>
        <div>GISELA: BUSCA EL  AMOR 
            <a class="btn-floating pulse " data-name="gbea" data-date="sabado"><i class="material-icons ">add</i></a>
        </div>
        <div>MUJERES SIN FILTRO
            <a class="btn-floating pulse " data-name="msf" data-date="sabado"><i class="material-icons ">add</i></a>
        </div>
        <div>21 BLACKJACK 
            <a class="btn-floating pulse " data-name="21b" data-date="sabado"><i class="material-icons ">add</i></a>
        </div>
        <div>CHICAGO FIRE 3
            <a class="btn-floating pulse " data-name="cf3" data-date="sabado"><i class="material-icons ">add</i></a>
        </div>
        <div>LA GRAN SANGRE, LA PELICULA
            <a class="btn-floating pulse " data-name="lgslp" data-date="sabado"><i class="material-icons ">add</i></a>
        </div>
        <div>COMO NIKKEI
            <a class="btn-floating pulse " data-name="cn" data-date="sabado"><i class="material-icons ">add</i></a>
        </div>
        
      </div>
      <div class=" col s12 m12 l1 domingo">
          <div  class="fecha">Domingo</div>
          <div>AUTOMUNDO
              <a class="btn-floating pulse " data-name="a" data-date="domingo"><i class="material-icons ">add</i></a>
          </div>
          <div>ESTAS EN TODAS (REPETICION)
              <a class="btn-floating pulse " data-name="eet" data-date="domingo"><i class="material-icons ">add</i></a>
          </div>
          <div>AMERICA NOTICIAS: EDICION DOMINICAL
              <a class="btn-floating pulse " data-name="aned" data-date="domingo"><i class="material-icons ">add</i></a>
          </div>
          <div>DOMINGO AL DIA
              <a class="btn-floating pulse " data-name="dad" data-date="domingo"><i class="material-icons ">add</i></a>
          </div>
          <div>TEC
              <a class="btn-floating pulse " data-name="t" data-date="domingo"><i class="material-icons ">add</i></a>
          </div>
          <div>EL CHAVO DEL OCHO
              <a class="btn-floating pulse " data-name="ecdo" data-date="domingo"><i class="material-icons ">add</i></a>
          </div>
          <div>HERCULES
              <a class="btn-floating pulse " data-name="h" data-date="domingo"><i class="material-icons ">add</i></a>
          </div>
          <div>BATALLA NAVAL
              <a class="btn-floating pulse " data-name="bn" data-date="domingo"><i class="material-icons ">add</i></a>
          </div>
          <div>LA ROSA DE GUADALUPE
              <a class="btn-floating pulse " data-name="lrdg" data-date="domingo"><i class="material-icons ">add</i></a>
          </div>
          <div>CUARTO PODER
              <a class="btn-floating pulse " data-name="cp" data-date="domingo"><i class="material-icons ">add</i></a>
          </div>
          <div>FUTBOL EN AMERICA
              <a class="btn-floating pulse " data-name="fea" data-date="domingo"><i class="material-icons ">add</i></a>
          </div>
          <div>LADRONA DE IDENTIDADES
              <a class="btn-floating pulse " data-name="ldi" data-date="domingo"><i class="material-icons ">add</i></a>
          </div>
          <div>COMO NIKKEI
              <a class="btn-floating pulse " data-name="cn" data-date="domingo"><i class="material-icons ">add</i></a>
          </div>
          <div>CUARTO PODER (REPETICION)
              <a class="btn-floating pulse " data-name="cp" data-date="domingo"><i class="material-icons ">add</i></a>
          </div>
          
      </div>
    </div>
  </div>
  <!-- Compiled and minified JavaScript -->
  <script
  src="https://code.jquery.com/jquery-3.3.1.js"
  integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
  crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <script src="../js/home.js"></script>
</body>

</html>